* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #313131;
  --gradient1: linear-gradient(100deg, #ffaa00, #ffaa78);
  --gradient2: linear-gradient(15deg, #04ea00, #08771b);
  --gradient3: linear-gradient(15deg, #b648ff, #ef78ff);
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100vh;
}

.box-container {
  padding-bottom: 20rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background-image: var(--gradient1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2rem;
}
